.cols {
    height: 100vh;
    width: 33.33%;
}

.col-img {
    height: 100%;
    width: 100%;
    animation: slideFromTop 2s forwards;
    transform: translateY(-100%);
    filter: brightness(0.6);
    transition: filter 0.5s;
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.col-img-1 {
    animation-delay: 0.25s;
    background: linear-gradient(transparent, var(--almost-black-color)), url("/static/images/MoonTripsPage.png");
    background-position-x: 50%;
}

.col-img-2 {
    animation-delay: 0.5s;
    background: linear-gradient(transparent, var(--almost-black-color)), url("/static/images/OlympusMons.png");
    background-position-x: 20%;
}

.col-img-3 {
    animation-delay: 0.75s;
    background: linear-gradient(transparent, var(--almost-black-color)), url("/static/images/Asteroids.png");
    background-position-x: 20%;
}

#StartAdventure {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    opacity: 0;
    animation: slideFromBottom 1s forwards;
    animation-delay: 1s;
}

@keyframes slideFromBottom {
    0% {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

#scrollMore {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    animation: slideFromBottom 1s forwards;
    animation-delay: 1.95s;
}

.btn-places {
    background-color: transparent;
    border: var(--purplish-color) 1px solid;
    transition: 0.5s;
    animation: opacityShow 1s forwards;
    opacity: 0;
    font-size: 1.6rem !important;
}

.btn-places:hover {
    background-color: var(--purplish-color);
    border: var(--purplish-color) 1px solid;
    transition: 0.5s;
}

.btn-places-rev {
    background-color: var(--purplish-color);
    border: var(--purplish-color) 1px solid;
    transition: 0.5s;
    animation: opacityShow 1s forwards;
    opacity: 0;
    font-size: 1.6rem !important;
}

.btn-places-rev:hover {
    background-color: transparent;
    border: var(--purplish-color) 1px solid;
    transition: 0.5s;
}

@keyframes opacityShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.info-border-box {
    background: transparent;
    border-color: var(--purplish-color);
    border-style: solid;
    border-width: 3px;
    border-radius: 70px;

}

.destinations {
    width: 100%;
    height: auto;
    position: absolute;
}

body {
    background-color: var(--almost-black-color);
}

.inner-box {
    position: absolute;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
