{% extends 'base.html' %}
{% block title %}Cosmic Cruises{% endblock %}

{% block BodyContent %}
<div style="position: relative; top: 0; left: 0; width: 100%">
    <div id="backgrounds" style="height: 100vh; width: 100%; position: absolute; right: 0">
        <div class="image-bgs imgTwo"></div>
        <div class="image-bgs imgOne"></div>
    </div>
    <div id="content1" style="position: absolute; height: 400vh; top: 0; left: 0; width: 100%">
        <div class="heading" id="LandingText" style="top: 50vh">
            <h1 class="off-white text-6xl md:text-7xl text-center drop-shadow-2xl"><b>Start Your Journey Here With Us!</b></h1>
        </div>
        <div class="heading" style="top: 150vh">
            <h1 class="off-white text-6xl md:text-7xl text-center drop-shadow-2xl"><b>Experience the Weightlessness on the Moon!</b>
            </h1>
        </div>
        <div class="heading" style="top: 250vh">
            <h1 class="off-white text-6xl md:text-7xl text-center drop-shadow-2xl"><b>Visit The Craters on Mars!</b></h1>
        </div>
    </div>
    <div style="height: 100vh; position: absolute; top: 325vh; width: 100%;">
        <div id="BlackBG" style="height: 100vh; width: auto" data-rellax-speed="7"></div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $('.imgOne').css("background-image", 'url("../static/images/ManOnMoon.png")')
        $('.imgTwo').css("background-image", 'url("../static/images/LargeMartianLandscape.png")')
        $('nav').css('top', 0);
    })
    const hamburger = document.querySelector(".hamburger");
    const menu = document.querySelector(".mobile-menu");
    hamburger.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
    var previousScroll = $(window).scrollTop
    $(window).scroll(function() {
        function elementScrolled(elem)
        {
            var docViewTop = $(window).scrollTop();
            var docViewBottom = docViewTop + $(window).height();
            var elemTop = $(elem).offset().top;
            return ((elemTop <= docViewBottom) && (elemTop >= docViewTop));
        }
        var currScroll = $(this).scrollTop()
        if (previousScroll > currScroll) {
            $('nav').css('top', 0)
        } else {
            $('nav').css('top', '-100px')
        }
        var breakpoint1 = 1050
        var ImgOne = $('.imgOne')
        if (currScroll <= breakpoint1) {
            ImgOne.css('opacity', 1)
        } else {
            var currOpacity = ImgOne.css('opacity')
            if ((currScroll - breakpoint1) <= 700) {
                ImgOne.css('opacity', 1 - (currScroll - breakpoint1) / 750)
            } else {
                ImgOne.css('opacity', 0)
            }
        }
        previousScroll = currScroll;
    })
</script>
<script>
    var rellax = new Rellax('.rellax')
</script>
{% endblock %}