{% extends 'base.html' %}
{% block title %}Company Name{% endblock %}

{% block BodyContent %}

<div class="bigDivs">
    <div class="image-bgs rellax" data-rellax-speed="-10" style='background-image: url("../static/images/ManOnMoon.png")'></div>
    <div class="heading">
        <h1 class="off-white text-7xl text-center"><b>Start Your Journey Here With Us!</b></h1>
    </div>
</div>

<div class="bigDivs">
    <div class="image-bgs rellax" data-rellax-speed="-10" style='background-image: url("../static/images/LargeMartianLandscape.png")'></div>
</div>
<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    var rellax = new Rellax('.rellax')
</script>
{% endblock %}