{% extends 'base.html' %}
{% block title %}Cosmic Cruises{% endblock %}

{% block BodyContent %}
<div style="display: flex; flex-direction: column; justify-items: center; align-items: center">
    <br><br><br><br>
    <div class="headingBox">
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4">Sources Used</h1>
    </div>
    <br>
    <div class="bodybox">
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> - Google Fonts: Maven Pro</h1>
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> - Tailwind CSS</h1>
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> - Heroicons by Tailwind Devs: Mobile
            Hamburger Menu and Rocket Launch</h1>
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> - Rellax: JS Parallax Library</h1>
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> - Jquery</h1>
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> - Bing AI and MidJourney: Image
            Generation</h1>
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"><b>Free Images Used</b></h1>
        <ul class="text-center">
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"><a href="https://cdn.mos.cms.futurecdn.net/A3dgJ9x55MdrMt7YniSYuQ.jpg" class="links">Picture of a Astronaut on Mars on the Promotions Page</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"><a href="https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/a5c2df1c83701dbf3ca8820ccf12a01b/large.JPG" class="links">Picture of a Spaceship Flying near Earth on the How It Works Page</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"><a href="https://cdn.theatlantic.com/thumbor/R0rqn5YEsFHXS5ajSEXl0BmsRDM=/0x595:1525x1453/976x549/media/img/mt/2015/02/symesmoonwatermark/original.jpg" class="links">Picture of a Moon on the Trips Page</a></h1></li>
        </ul>
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"><b>Research Sources</b></h1>
        <ul class="text-center">
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://youtu.be/dqwpQarrDwk">Kurzgesagt - Informational Youtube Channel</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://www.space.com/728-high-tech-spacesuits-eyed-extreme-exploration.html">High-Tech Spacesuits Eyed for 'Extreme Exploration'</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://starlust.org/what-are-the-different-types-of-astronaut-suits/">What Are The Different Types of Astronaut Suits? | StarLust</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://www.nastarcenter.com/human-spaceflight-training-programs.html">Human Spaceflight Training Programs</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://www.nasa.gov/centers/johnson/pdf/160410main_space_training_fact_sheet.pdf">Training for space: Astronaut training and mission preparation</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://www.nasa.gov/pdf/464826main_SEV_FactSheet_508.pdf">Space Exploration Vehicle Concept</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://www.cnet.com/pictures/nasas-wildest-rides-extreme-vehicles-for-earth-and-beyond/">NASA's wildest rides: Extreme vehicles for Earth and beyond</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://knowledgestew.com/the-skyhook-plucking-humans-from-the-ground/">The Skyhook: How Humans Are Plucked from the Ground - Knowledge Stew</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://space.nss.org/l5-news-the-rocket-skyhook-combination/">The Rocket / Skyhook Combination</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://www.space.com/23757-space-tourist-training-per-wimmer.html">How Do You Train to Become a Space Tourist?</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://www.popsci.com/how-to-become-a-space-tourist/">How to become a space tourist: 8 companies (almost) ready to launch</a></h1></li>
            <li><h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://frc.ri.cmu.edu/~hpm/project.archive/1976.skyhook/papers/scable.pox">A Non-Synchronous Orbital Skyhook</a></h1></li>
        </ul>

    </div>
    <br>
    <div class="headingBox">
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4">Project Documentation</h1>
    </div>
    <br>
    <div class="bodybox">
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a
                class="links"
                href="https://drive.google.com/file/d/1uoOLNxuwMFAGWGYDvdZ2TEiciE9F82LV/view?usp=share_link"> Student
            Copyright Checklist</a></h1>
        <h1 class="off-white text-2xl md:text-4xl text-center px-10 py-4"> -<a class="links" href="https://drive.google.com/file/d/1WlviP4bXua_FzEVjpZhCbGJKt1_qlTme/view?usp=sharing"> Work Log</a></h1>
    </div>
    <br>

</div>
<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var bodybox = $('.bodybox');
        var spacer = $('.spacer');
        var offset = bodybox.offset().top + parseInt(bodybox.css('height'), 10)
        spacer.css('top', (offset + 'px'))
    })
    const hamburger = document.querySelector(".hamburger");
    const menu = document.querySelector(".mobile-menu");
    hamburger.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
    var previousScroll = $(window).scrollTop;
    $(window).scroll(function () {
        var currScroll = $(this).scrollTop()
        if (previousScroll > currScroll) {
            $('nav').css('top', 0)
            console.log('asdfasdf')
        } else {
            $('nav').css('top', '-100px')
            console.log('hhhhh')
        }
        previousScroll = currScroll;
    })
</script>
<script>
    var rellax = new Rellax('.rellax')
</script>
<style>
    body {
        background: var(--almost-black-color);
    }

    .headingBox {
        border-color: var(--purplish-color);
        border-width: 5px;
        border-radius: 70px;
        width: auto;
    }

    .bodybox {
        background: var(--purplish-color);
        border-color: var(--dark-purple-color);
        border-width: 5px;
        border-radius: 70px;
        width: 70%;
        height: auto;
    }
</style>
{% endblock %}