{% extends 'base.html' %}
{% block title %}Trips{% endblock %}
{% block BodyContent %}
<link href="{{ url_for('static', filename='css/trips.css') }}" rel="stylesheet">
<div style="position: relative;">
    <div class='flex bg-almost-black'>
        <div class='cols col-1' style="position: relative">
            <div class="col-img col-img-1"></div>
            <div style="position: absolute; top: 75%; left: 50%; transform: translateX(-50%)">
                <button class="off-white px-2 py-1 rounded-lg btn-places btn-places-1" id="Moon-btn"
                        onclick="ScrollToElement(document.getElementById('Moon'))" style="animation-delay: 1.65s">
                    The Moon
                </button>
            </div>
        </div>
        <div class='cols col-2' style="position: relative">
            <div class="col-img col-img-2"></div>
            <div style="position: absolute; top: 75%; left: 50%; transform: translateX(-50%)">
                <button class="off-white px-2 py-1 rounded-lg btn-places"
                        onclick="ScrollToElement(document.getElementById('Mars'))" style="animation-delay: 1.75s">Mars
                </button>
            </div>
        </div>
        <div class='cols col-3' style="position: relative">
            <div class="col-img col-img-3"></div>
            <div style="position: absolute; top: 75%; left: 50%; transform: translateX(-50%)">
                <button class="off-white px-2 py-1 rounded-lg btn-places"
                        onclick="ScrollToElement(document.getElementById('Asteroids'))" style="animation-delay: 1.85s">
                    Asteroids
                </button>
            </div>
        </div>
    </div>
    <div id="StartAdventure">
        <h1 class="off-white text-6xl md:text-7xl text-center drop-shadow-2xl"><b>Choose Where to Begin Your New
            Adventure!</b></h1>
    </div>
    <div id="scrollMore"><h3 class="off-white text-3xl md:text-xl">Scroll for More</h3></div>
    <div style="height: 100%; width: 100%; position: absolute; background: var(--almost-black-color)">
        <div style="height: 100%; width: 100%;"></div>
        <div data-inviewport="fade-in"
             style="position: absolute; top: 25%; left: 50%; transform: translateX(-50%)"><h2
                class="off-white text-3xl md:text-5xl">Want to Experience the Excitement at all the Locations? Try our
            Combined Pack!</h2></div>
        <div style="position: absolute; top: 90%; left: 50%; transform: translateX(-50%)"><h3
                class="off-white text-3xl md:text-xl">Find Out More About Each Location Down Below!</h3></div>
    </div>

    <div class="bg-almost-black destinations" id="Moon" style="top: 200%">
        <h1 class="off-white text-6xl md:text-7xl text-center drop-shadow-2xl">The Moon</h1>
        <br>
        <div class="flex-col" style="height: 100vh">
            <div class="flex" style="height: 50%">
                <div class="" style="width: 50%; position: relative">
                    <div class="mx-auto" style="position: relative; width: 80%; height: 100%;">
                        <div style="border-radius: 40px; background: url('../static/images/MoonCafe.png') no-repeat; width: 100%; height: 100%; background-size: cover; background-position-y: 40%"></div>
                    </div>
                </div>
                <div style="width: 50%; position: relative">
                    <div class="info-border-box flex items-center justify-center" data-inviewport="fade-in"
                         style="position: absolute; width: 75%; height: 75%; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h1 class="off-white text-xl md:text-2xl text-center px-12">Look out to the beauty of the Moon
                            and the Magestic Earth as you enjoy a meal at our Moon Cafe. With Multiple Cuisines you will
                            never be unsatisfied.</h1>
                    </div>
                </div>
            </div>
            <div class="flex" style="height: 50%">
                <div style="width: 50%; position: relative">
                    <div class="info-border-box flex items-center justify-center" data-inviewport="fade-in"
                         style="position: absolute; width: 75%; height: 75%; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h1 class="off-white text-xl md:text-2xl text-center px-12">Look out to the beauty of the Moon
                            and the Magestic Earth as you enjoy a meal at our Moon Cafe. With Multiple Cuisines you will
                            never be unsatisfied.</h1>
                    </div>
                </div>
                <div class="" style="width: 50%; position: relative">
                    <div class="mx-auto" style="position: relative; width: 80%; height: 100%;">
                        <div style="border-radius: 40px; background: url('../static/images/OlympusMonsValley.png') no-repeat; width: 100%; height: 100%; background-size: cover; background-position-y: 40%"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="bg-almost-black destinations" id="Mars" style="top: 315%">
        <h1 class="off-white text-6xl md:text-7xl text-center drop-shadow-2xl">Mars</h1>
        <br>
        <div class="flex-col" style="height: 100vh">
            <div class="flex" style="height: 50%">
                <div class="" style="width: 50%; position: relative">
                    <div class="mx-auto" style="position: relative; width: 80%; height: 100%;">
                        <div style="border-radius: 40px; background: url('../static/images/OlympusMonsValley.png') no-repeat; width: 100%; height: 100%; background-size: cover; background-position-y: 45%"></div>
                    </div>
                </div>
                <div style="width: 50%; position: relative">
                    <div class="info-border-box flex items-center justify-center" data-inviewport="fade-in"
                         style="position: absolute; width: 75%; height: 75%; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h1 class="off-white text-xl md:text-2xl text-center px-12">There is nothing like the peace and
                            tranquility in looking out at the beauty that Mars beholds</h1>
                    </div>
                </div>
            </div>
            <div class="flex" style="height: 50%">
                <div style="width: 50%; position: relative">
                    <div class="info-border-box flex items-center justify-center" data-inviewport="fade-in"
                         style="position: absolute; width: 75%; height: 75%; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h1 class="off-white text-xl md:text-2xl text-center px-12">Drive around Mars in a rover and
                            explore the planet's vast landscapes and geological formations while learning about its
                            history and geology</h1>
                    </div>
                </div>
                <div class="" style="width: 50%; position: relative">
                    <div class="mx-auto" style="position: relative; width: 80%; height: 100%;">
                        <div style="border-radius: 40px; background: url('../static/images/MarsRover.png') no-repeat; width: 100%; height: 100%; background-size: cover; background-position-y: 50%"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="bg-almost-black destinations" id="Asteroids" style="top: 430%">

        <h1 class="off-white text-6xl md:text-7xl text-center drop-shadow-2xl">Asteroids</h1>
        <br>
        <div class="flex-col" style="height: 100vh">
            <div class="flex" style="height: 50%">
                <div class="" style="width: 50%; position: relative">
                    <div class="mx-auto" style="position: relative; width: 80%; height: 100%;">
                        <div style="border-radius: 40px; background: url('../static/images/AsteroidMining.jpg') no-repeat; width: 100%; height: 100%; background-size: cover; background-position-y: 75%"></div>
                    </div>
                </div>
                <div style="width: 50%; position: relative">
                    <div class="info-border-box flex items-center justify-center" data-inviewport="fade-in"
                         style="position: absolute; width: 75%; height: 75%; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h1 class="off-white text-xl md:text-2xl text-center px-12">Visit our world renowned asteroid
                            mining facilities and watch how minerals and other substances are extracted.</h1>
                    </div>
                </div>
            </div>

            <div class="flex" style="height: 50%">
                <div style="width: 50%; position: relative">
                    <div class="info-border-box flex items-center justify-center"
                         style="position: absolute; width: 75%; height: 75%; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <h1 class="off-white text-xl md:text-2xl text-center px-12" data-inviewport="fade-in">Look out
                            to
                            the beauty of the Moon
                            and the Magestic Earth as you enjoy a meal at our Moon Cafe. With Multiple Cuisines you will
                            never be unsatisfied.</h1>
                    </div>
                </div>
                <div class="" style="width: 50%; position: relative">
                    <div class="mx-auto" style="position: relative; width: 80%; height: 100%;">
                        <div style="border-radius: 40px; background: url('../static/images/AsteroidsLightBG.jpg') no-repeat; width: 100%; height: 100%; background-size: cover; background-position-y: 40%"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="bg-almost-black destinations" style="top: 545%;">
        <div class="flex" style="width: 100%; height: 100vh">
            <div class="flex-col" style="width: 50%">
                <div class="flex" style="width: 100%; height: 50%; justify-content: center; align-items: center">
                    <div class="mx-auto" style="height: 80%; width: 70%;">
                        <div style="border-radius: 40px; background: url('../static/images/DiningRoom.png') no-repeat; width: 100%; height: 100%; background-size: cover; background-position-y: 50%; background-position-x: 20%"></div>
                    </div>
                </div>
                <div class="flex items-center justify-center" style="width: 100%; height: 50%;">
                    <div class="info-border-box flex items-center justify-center"
                         style="width: 75%; height: 75%">
                        <h1 class="off-white text-xl md:text-2xl text-center px-12" data-inviewport="fade-in">Look out
                            to
                            the beauty of the Moon
                            and the Magestic Earth as you enjoy a meal at our Moon Cafe. With Multiple Cuisines you will
                            never be unsatisfied.</h1>
                    </div>
                </div>
            </div>
            <div class="flex-col" style="width: 50%">
                <div class="flex" style="width: 100%; height: 50%; justify-content: center; align-items: center">
                    <div class="mx-auto" style="height: 80%; width: 70%;">
                        <div style="border-radius: 40px; background: url('../static/images/PremiumSuits.png') no-repeat; width: 100%; height: 100%; background-size: cover; background-position-y: 50%; background-position-x: 20%"></div>
                    </div>
                </div>
                <div class="flex items-center justify-center" style="width: 100%; height: 50%;">
                    <div class="info-border-box flex items-center justify-center"
                         style="width: 75%; height: 75%">
                        <h1 class="off-white text-xl md:text-2xl text-center px-12" data-inviewport="fade-in">Look out
                            to
                            the beauty of the Moon
                            and the Magestic Earth as you enjoy a meal at our Moon Cafe. With Multiple Cuisines you will
                            never be unsatisfied.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-almost-black destinations" style="top: 640%; height: 100vh">
        <div
                style="background: linear-gradient(var(--almost-black-color) 10%, rgba(0,0,0,0.5)), url('../static/images/Ticket.png') no-repeat; height: 100%; background-size: cover; background-position-y: 40%"></div>
        <div style="position: absolute; top: 50%; left: 50%; transform: translateX(-50%)">
            <button class="off-white px-2 py-1 rounded-lg btn-places" data-inviewport="fade-in-slow"
                    onclick="location.href='/promotions'"
                    style="animation: none; font-size: 2.5rem !important; font-weight: bold">Get Your Tickets Now
            </button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>

    var scrolled = false;
    $(document).ready(function () {
        $('nav').css('top', 0);
        scrolled = false;
    });
    const inViewport = (entries, observer) => {
        entries.forEach(entry => {
            entry.target.classList.toggle("is-inViewport", entry.isIntersecting);
            if (entry.isIntersecting) {
                entry.target.classList.add("first-time");
            }
        });
    };

    function ScrollToElement(element) {
        element.scrollIntoView({behavior: "smooth"})
    }

    const Obs = new IntersectionObserver(inViewport);
    const obsOptions = {}; //See: https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API#Intersection_observer_options

    // Attach observer to every [data-inviewport] element:
    const ELs_inViewport = document.querySelectorAll('[data-inviewport]');
    ELs_inViewport.forEach(EL => {
        Obs.observe(EL, obsOptions);
    });

    const hamburger = document.querySelector(".hamburger");
    const menu = document.querySelector(".mobile-menu");
    hamburger.addEventListener("click", () => {
        menu.classList.toggle("hidden");
    });
    var previousScroll = $(window).scrollTop
    $(window).scroll(function () {
        var currScroll = $(this).scrollTop()
        if (previousScroll > currScroll) {
            $('nav').css('top', 0)
        } else {
            $('nav').css('top', '-100px')
        }
        previousScroll = currScroll;
        if (!scrolled) {
            $('#scrollMore').addClass('hidden');
            scrolled = true;
        }
    })
</script>
<script>
    var rellax = new Rellax('.rellax')
</script>
{% endblock %}